<p
  *ngIf="!isCommentOpen && user"
  (click)="toggleComment(true)"
  class="comment-CTA"
>
  Add a comment
</p>
<form
  *ngIf="isCommentOpen"
  #commentForm="ngForm"
  (ngSubmit)="addComment(commentForm)"
  class="comment-form"
>
  <div class="input-group">
    <label for="commentText" class="comment-label">Your comment</label>
    <textarea
      class="input-field"
      id="commentText"
      name="commentText"
      rows="2"
      ngModel
      #commentText="ngModel"
      placehoder="Post your comment here"
      required
      minlength="10"
    ></textarea>
    <ng-container
      *ngIf="commentText.errors && commentText.touched && commentText.dirty"
    >
      <span *ngIf="commentText.errors.required" class="input-field-error"
        >Plase, write your comment!</span
      >
      <span *ngIf="commentText.errors.minlength" class="input-field-error"
        >Your answer should be minumum 10 characters long!</span
      >
    </ng-container>
  </div>
  <button class="btn btn-submit" [disabled]="commentForm.invalid">Post</button>
</form>
