.search-section {
  margin-bottom: 6rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.title {
  color: var(--lightblue);
  font-weight: 400;
  font-size: 3rem;
  flex: 0 0 10%;
}

@media only screen and (min-width: 75rem) {
  .title {
    font-size: 5rem;
  }
}

.search-wrapper {
  width: 90%;
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 75rem) {
  .search-wrapper {
    width: 50%;
  }
}


.search-input {
  width: calc(100% - 35px);
  margin-right: 1rem;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--lightblue);
  padding-bottom: 0.5rem;
  color: var(--lightblue);
  font-size: 1.6rem;
}

.search-icon {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}

.search-icon img {
  max-width: 100%;
}

.suggestions {
  width: 50%;
  padding: 0;
  list-style: none;
}

.suggestion-item {
  width: 100%;
  text-align: left;
  color: slategray;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.suggestion-item:hover {
  color: var(--magento);
  background-color: lightgray;
}
