<div class="container top-offset">
  <div *ngIf="question$ | async as question" class="question-card">
    <div class="question-card-votes">
      <span class="no-auth-warning" *ngIf="!(authService.currentUser$ | async)"
        >Please, login to be able to vote!</span
      >
      <i class="vote-icon" (click)="vote(question.id, 'up')">
        <img src="assets/images/up-arrow.svg" alt="vote question up" />
      </i>
      <span class="vote-number">{{
        question.upVotesCount - question.downVotesCount
      }}</span>
      <i class="vote-icon" (click)="vote(question.id, 'down')">
        <img src="assets/images/check.svg" alt="vote question up" />
      </i>
    </div>
    <div class="question-card-content">
      <h2 class="question-card-title">{{ question.title }}</h2>
      <p class="question-card-text">
        {{ question.text }}
      </p>
    </div>
    {{ question | json }}
  </div>
</div>
