.nav-section {
  color: #333;
  margin-bottom: 2rem;
}

.nav-container {
  padding: 0;
}

.nav-title {
  font-size: 2.5rem;
}

.nav-item {
  color: slategray;
  list-style: none;
  padding: 0.5rem 0;
  font-size: 1.7rem;
  font-weight: 300;
  cursor: pointer;
}

.nav-item:hover {
  color: var(--lightblue);
}
