<div class="container top-offset container-three-columns">
  <aside></aside>
  <div class="section-content">
    <h2 class="section-title section-title--new-question">
      {{ isEditMode ? 'Edit Your' : 'Ask New' }} Question
    </h2>
    <div class="form-wrapper">
      <form
        #questionForm="ngForm"
        (ngSubmit)="onQuestionFormSubmit()"
        id="questionForm"
      >
        <div class="input-group">
          <label class="input-label" for="title">Question Title</label>
          <input
            class="input-field"
            type="text"
            id="title"
            name="title"
            [ngModel]="question.title"
            #titleInput="ngModel"
            required
            [minlength]="15"
            placeholder="Be specific and imagine you’re asking a question to another person"
          />
          <ng-container *ngIf="titleInput.touched">
            <span *ngIf="titleInput.errors?.required" class="input-field-error"
              >Question title is required</span
            >
            <span *ngIf="titleInput.errors?.minlength" class="input-field-error"
              >Question title should be minumum 15 characters long!</span
            >
          </ng-container>
        </div>
        <div class="input-group">
          <label class="input-label" for="text">Question Description</label>
          <textarea
            class="input-field"
            id="text"
            name="text"
            rows="8"
            [ngModel]="question.text"
            #textInput="ngModel"
            required
            [minlength]="15"
            placeholder="Include all the information someone would need to answer your question"
          ></textarea>
          <ng-container *ngIf="textInput.touched">
            <span *ngIf="textInput.errors?.required" class="input-field-error"
              >Question description is required</span
            >
            <span *ngIf="textInput.errors?.minlength" class="input-field-error"
              >Question description should be minumum 15 characters long!</span
            >
          </ng-container>
        </div>
        <div class="input-group input-group--half-width">
          <label class="input-label" for="category">Category</label>
          <select
            [ngModel]="question.category"
            #categoryInput="ngModel"
            name="category"
            id="category"
            required
          >
            <option disabled selected value>Please, select a category</option>
            <option
              *ngFor="let category of categories"
              value="{{ category._id }}"
            >
              {{ category.name }}
            </option>
          </select>
          <ng-container *ngIf="categoryInput.touched">
            <span
              *ngIf="categoryInput.errors?.required"
              class="input-field-error"
              >Category is required</span
            >
          </ng-container>
        </div>
      </form>
      <div class="input-group">
        <label class="input-label" for="tags">Tags</label>
        <app-tag-select
          [existingTags]="question.tags"
          (updatedSelectedTags)="updateTagsHandler($event)"
        ></app-tag-select>
      </div>

      <div class="input-group">
        <label class="input-label">Photos</label>
        <div *ngIf="question.imageURL.length" class="img-preview">
          <div
            *ngFor="let imageURL of question.imageURL"
            class="img-preview-wrapper"
          >
            <img [src]="imageURL" alt="uploaded image {{ imageURL }}" />
            <div
              *ngIf="isEditMode"
              class="image-delete-icon"
              (click)="removeImage(imageURL)"
            >
              <img src="assets/icons/cancelRed.svg" alt="delete image" />
            </div>
          </div>
        </div>
        <div>
          <label class="photo-upload-label" for="file">
            <img
              *ngIf="!loading"
              class="photo-upload-icon"
              src="/assets/images/image.svg"
              alt="photo upload"
            />
            <div *ngIf="loading" class="loader">
              <img src="/assets/images/loader.svg" alt="loading" />
            </div>
            <span>Choose a photo (max 5 photos allowed)</span>
          </label>
          <input
            class="photo-upload-input"
            id="file"
            type="file"
            #filePicker
            (change)="onImagePicked($event)"
          />
        </div>
      </div>
      <div>
        <button
          form="questionForm"
          class="btn btn-submit"
          type="submit"
          [disabled]="!questionForm.dirty"
        >
          {{ isEditMode ? 'Save' : 'Ask' }} Question
        </button>
      </div>
    </div>
  </div>
  <aside class="instructions">
    <ng-container *ngIf="!isEditMode">
      <h3>Asking A Good Quesiton</h3>
      <p>
        The community is here to help you with specific problems about
        maternity, pregnancy, babies, toddlers and any other questions related
        to raising a child.
      </p>
      <p>
        To get you the best answers, we’ve provided some guidance: Before you
        post, search the site to make sure your question hasn’t been answered.
      </p>
      <ol>
        <li>Summarize the problem</li>
        <li>Describe what you’ve tried</li>
        <li>When appropriate, attach some photos</li>
      </ol>
      <p>Avoid asking opinion-based questions.</p>
    </ng-container>
  </aside>
</div>
