.section-content {
  margin-bottom: 5rem;
}

.section-title--new-question {
  text-align: center;
  margin-bottom: 7rem;
  font-weight: 400;
  color: var(--magento);
}

@media screen and (min-width: 75rem) {
  .section-content {
    flex-direction: row;
  }
}

.form-wrapper {
  border-radius: 3rem;
  background-color: rgba(245, 245, 245, 0.5);
  padding: 5rem;
}

@media screen and (min-width: 75rem) {
  .form-wrapper {
    flex: 0 0 60%;
  }
}

.input-group {
  position: relative;
  margin-bottom: 2.5rem;
}

.input-label,
.input-field {
  color: var(--lightblue);
  font-size: 1.4rem;
}

.input-field {
  color: slategray;
  font-size: 1.5rem;
  font-weight: 400;
}

.input-label {
  font-weight: 400;
  font-size: 1.7rem;
}

.input-field {
  border-color: rgba(38, 169, 191, 0.5);
  padding: 1.5rem 1rem;
}

.input-field:focus,
.input-field:active {
  border-color: var(--lightblue);
}

.input-group--half-width {
  width: 50%;
}

.input-field-error {
  font-size: 1rem;
  color: var(--error);
  font-weight: 300;
  margin-left: 0.5rem;
  position: absolute;
  left: 0;
  bottom: -1.5rem;
}

.btn-submit {
  margin-top: 1rem;
  background-color: var(--violet);
  border-color: var(--violet);
}

.btn-submit:hover {
  background-color: var(--blue);
  border-color: var(--blue);
}

.btn-submit:disabled {
  background-color: #9a8fff;
  border-color: #9a8fff;
}

select {
  width: 100%;
  margin: 0;
  outline: 0;
  border: 1px solid transparent;
  border-color: rgba(38, 169, 191, 0.5);
  border-radius: 0.5rem;
  padding: 1.5rem 20px;
  -webkit-appearance: none;
  -moz-appearance: window;
  -webkit-user-select: none;
  -moz-user-select: none;
  display: block;
  height: 51px;
  padding-left: 10px;
  font-weight: 300;
  overflow: hidden;
  background-position: 95% 60%;
  font-size: 0.9em;
  color: slategray;
  font-weight: 400;
  background: url('/assets/images/down-arrow.svg') no-repeat #fff;
  background-size: 15px;
  background-position: 97.5% 50%;
}

select:focus,
select:active {
  border-color: var(--lightblue);
}

select::-ms-expand {
  display: none;
}

/* Uploaded Images Preview  */
.img-preview {
  height: 15rem;
  display: flex;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.img-preview-wrapper {
  height: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-right: 1rem;
  position: relative;
}

.img-preview-wrapper {
  height: 100%;
  width: fit-content;
}

.img-preview-wrapper img {
  height: 100%;
}

.image-delete-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.image-delete-icon img {
  width: 1.5rem;
  height: 1.5rem;
}

/* Image upload label and input */
.photo-upload-label {
  display: flex;
  align-items: center;
}

.photo-upload-label span {
  color: gray;
  font-size: 1.4rem;
}

.photo-upload-icon,
.loader {
  width: 3rem;
  height: 3rem;
  margin-right: 0.5rem;
}

.loader {
  width: 4rem;
  height: 4rem;
  margin-right: 0.5rem;
}

.photo-upload-input {
  display: none;
}

input.ng-valid,
textarea.ng-valid,
select.ng-valid {
  border: 1px solid var(--magento);
}

input.ng-touched.ng-invalid,
textarea.ng-touched.ng-invalid,
select.ng-touched.ng-invalid {
  border: 1px solid var(--error);
}

/* Aside */

.instructions {
  padding: 1rem;
  color: slategray;
}

.instructions h3 {
  margin-bottom: 2.5rem;
}
.instructions p,
.instructions li {
  font-weight: 300;
}
