<section class="register top-offset">
  <h2 class="section-title register-title">Register</h2>
  <form #form="ngForm" (ngSubmit)="saveForm(form)" class="register-form">
    <div class="form-inner-wrapper">
      <div class="input-group">
        <label class="input-label" for="username">Username</label>
        <input
          class="input-field"
          type="text"
          id="username"
          name="username"
          ngModel
          #usernameInput="ngModel"
          required
          [minlength]="8"
        />
        <ng-container *ngIf="usernameInput.touched">
          <span *ngIf="usernameInput.errors?.required" class="input-field-error"
            >Username is required</span
          >
          <span
            *ngIf="usernameInput.errors?.minlength"
            class="input-field-error"
            >Username should be min 8 characters long</span
          >
        </ng-container>
      </div>
      <div class="input-group">
        <label class="input-label" for="email">Email</label>
        <input
          class="input-field"
          type="email"
          id="email"
          name="email"
          ngModel
          #emailInput="ngModel"
          required
          email
        />
        <ng-container *ngIf="emailInput.touched">
          <span *ngIf="emailInput.errors?.required" class="input-field-error"
            >Email is required</span
          >
          <span *ngIf="emailInput.errors?.email" class="input-field-error"
            >Please, enter valid email</span
          >
        </ng-container>
      </div>
      <div class="input-group">
        <label class="input-label" for="password">Password</label>
        <input
          class="input-field"
          type="password"
          id="password"
          name="password"
          ngModel
          #passwordInput="ngModel"
          required
          [minlength]="8"
        />
        <ng-container *ngIf="passwordInput.touched">
          <span *ngIf="passwordInput.errors?.required" class="input-field-error"
            >Password is required</span
          >
          <span
            *ngIf="passwordInput.errors?.minlength"
            class="input-field-error"
            >Password should be min 8 characters long</span
          >
        </ng-container>
      </div>
      <div class="input-group">
        <label class="input-label" for="re-password">Confirm Password</label>
        <input
          class="input-field"
          type="password"
          id="re-password"
          name="rePassword"
          ngModel
          #rePasswordInput="ngModel"
          required
          [minlength]="8"
          appSameValue="password"
        />
        <ng-container *ngIf="rePasswordInput.touched">
          <span
            *ngIf="rePasswordInput.errors?.required"
            class="input-field-error"
            >Confirm password is required</span
          >
          <span
            *ngIf="rePasswordInput.errors?.minlength"
            class="input-field-error"
            >Password should be min 8 characters long</span
          >
          <span
            *ngIf="rePasswordInput.errors?.sameValue"
            class="input-field-error"
            >Passwords do not match</span
          >
        </ng-container>
      </div>
      <div>
        <button [disabled]="form.invalid" class="btn btn-submit" type="submit">
          Register
        </button>
      </div>
    </div>
  </form>
  <div class="register-text">You already have an account? Login here.</div>
</section>
