.question-card {
  display: grid;
  grid-template-columns: 10% 1fr;
  background: rgba(245, 245, 245, 0.6);
  border-radius: 1rem;
  margin-bottom: 1.5rem;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.4);
}

.question-card-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--lightblue);
  padding: 1rem 0.5rem;
}

.question-card-info p {
  margin: 0.75rem 0;
  font-size: 1.25rem;
}

.question-card-info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-card-info-section span:first-of-type {
  font-size: 2.5rem;
}

.question-card-title {
  color: var(--magento);
  margin-bottom: 1rem;
}

.question-card-title:hover {
  color: var(--lightmagento);
}

.question-card-title a {
  color: inherit;
  text-decoration: none;
}

.question-details {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.5rem;
  padding-right: 2rem;
}

.question-tag {
  font-size: 1.4rem;
  display: inline-block;
  color: #fff;
  background-color: #9a8fff;
  padding: 0.5rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
}
