<section class="register top-offset">
  <h2 class="section-title register-title">Register</h2>
  <form
    [formGroup]="registerForm"
    (ngSubmit)="register()"
    class="register-form"
  >
    <div class="form-inner-wrapper">
      <div class="input-group">
        <label class="input-label" for="username">Username</label>
        <app-auth-input [control]="username"></app-auth-input>
      </div>
      <!-- <div class="input-group">
        <label class="input-label" for="email">Email</label>
        <input
          class="input-field"
          type="email"
          id="email"
          name="email"
          ngModel
          #emailInput="ngModel"
          required
          email
        />
        <div *ngIf="emailInput.touched" class="input-field-error-wrapper">
          <span *ngIf="emailInput.errors?.required" class="input-field-error"
            >Email is required.</span
          >
          <span *ngIf="emailInput.errors?.email" class="input-field-error"
            >Please, enter valid email.</span
          >
        </div>
      </div> -->
      <!-- <div class="input-group">
        <label class="input-label" for="password">Password</label>
        <input
          class="input-field"
          type="password"
          id="password"
          name="password"
          ngModel
          #passwordInput="ngModel"
          required
          [minlength]="8"
          [appCustomValidator]="passwordValidator"
        />
        <div *ngIf="passwordInput.touched" class="input-field-error-wrapper">
          <span *ngIf="passwordInput.errors?.required" class="input-field-error"
            >Password is required.</span
          >
          <span
            *ngIf="passwordInput.errors?.minlength"
            class="input-field-error"
            >Password should be min 8 characters long.</span
          >
          <span
            *ngIf="passwordInput.errors?.invalidPassword"
            class="input-field-error"
            >Password should contain at least one uppercase letter, one
            lowercase letter, one special characters and one number!</span
          >
        </div>
      </div> -->
      <!-- <div class="input-group">
        <label class="input-label" for="re-password">Confirm Password</label>
        <input
          class="input-field"
          type="password"
          id="re-password"
          name="rePassword"
          ngModel
          #rePasswordInput="ngModel"
          required
          appSameValue="password"
        />
        <div *ngIf="rePasswordInput.touched" class="input-field-error-wrapper">
          <span
            *ngIf="rePasswordInput.errors?.required"
            class="input-field-error"
            >Confirm password is required</span
          >
          <span
            *ngIf="rePasswordInput.errors?.sameValue"
            class="input-field-error"
            >Passwords do not match!</span
          >
        </div>
      </div> -->
      <div>
        <button
          [disabled]="registerForm.invalid"
          class="btn btn-submit"
          type="submit"
        >
          Register
        </button>
      </div>
    </div>
  </form>
  <div class="register-text">
    You already have an account? Login
    <a routerLink="/login">here</a>.
  </div>
</section>
