<div class="question-details">
  <div class="question-detail-info">
    <p class="question-date">
      Asked: {{ question.created | date: 'dd.MM.yyyy' }}
    </p>
    <div class="question-tags">
      <span *ngFor="let tag of question.tags" class="question-tag">{{
        tag.name | titlecase
      }}</span>
    </div>
  </div>
  <div class="question-author">
    <p>{{ question.author.username || question.author.email }}</p>
    <img
      class="question-avatar"
      [src]="question.author.avatar"
      alt="question.author.email"
    />
  </div>
</div>
