<div class="container top-offset">
  <h2>About Us</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda at sit
    veritatis natus alias, cupiditate magnam placeat quaerat iste, voluptate
    provident a illo dicta esse autem! Veritatis rem quibusdam blanditiis.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda at sit
    veritatis natus alias, cupiditate magnam placeat quaerat iste, voluptate
    provident a illo dicta esse autem! Veritatis rem quibusdam blanditiis.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda at sit
    veritatis natus alias, cupiditate magnam placeat quaerat iste, voluptate
    provident a illo dicta esse autem! Veritatis rem quibusdam blanditiis.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda at sit
    veritatis natus alias, cupiditate magnam placeat quaerat iste, voluptate
    provident a illo dicta esse autem! Veritatis rem quibusdam blanditiis.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda at sit
    veritatis natus alias, cupiditate magnam placeat quaerat iste, voluptate
    provident a illo dicta esse autem! Veritatis rem quibusdam blanditiis.
  </p>
</div>
