<div *ngIf="answer" class="answer-card">
  <div class="answer-card-votes">
    <span class="no-auth-warning" *ngIf="!(authService.currentUser$ | async)"
      >Please, login to be able to vote!</span
    >
    <i class="vote-icon" (click)="vote(answer._id!, 'up')">
      <img src="assets/icons/triangle-up.svg" alt="vote answer up" />
    </i>
    <span class="vote-number">{{
      answer.upVotesCount - answer.downVotesCount
    }}</span>
    <i class="vote-icon" (click)="vote(answer!._id!, 'down')">
      <img src="assets/icons/triangle-down.svg" alt="vote answer down" />
    </i>
  </div>
  <div class="answer-card-content">
    <p class="answer-card-text">
      {{ answer.text }}
    </p>
    <app-image-gallery [images]="answer.imageURL"></app-image-gallery>
    <div class="answer-details">
      <p class="answer-date">
        Answered on: {{ answer.created | date: 'dd-MM-yyyy' }}
      </p>
      <div class="answer-author">
        <img
          class="answer-avatar"
          [src]="answer.author.avatar"
          alt="answer.author.username"
        />
        <p>{{ answer.author.username || 'Anonymous' }}</p>
      </div>
    </div>
    <section class="comments">
      <ng-container *ngIf="comments">
        <app-comment-list [comments]="comments"></app-comment-list>
      </ng-container>
      <app-create-comment
        [questionOrAnswerId]="answer._id!"
        [commentTo]="'answer'"
        [questionOrAnswerAuthor]="answer.author!._id"
        (commentCreated)="updateComments()"
      ></app-create-comment>
    </section>
  </div>
</div>
