<input
  [formControl]="control"
  [type]="type"
  class="input-field"
  [placeholder]="placeholder"
  [mask]="format"
  [dropSpecialCharacters]="false"
/>
<div *ngIf="control.touched" class="input-field-error-wrapper">
  <p class="input-field-error" *ngIf="control.errors?.['required']">
    Задължително поле!
  </p>
  <p class="input-field-error" *ngIf="control.errors?.['minlength']">
    Полето трябва да е поне
    {{control.errors?.['minlength'].requiredLength}} символа. Въвели сте
    {{control.errors?.['minlength'].actualLength}} символа.
  </p>
  <p class="input-field-error" *ngIf="control.errors?.['email']">
    Нужно е да въведете валиден имейл!
  </p>

  <p class="input-field-error" *ngIf="control.errors?.['pattern']">
    Паролата трябва да съдържа поне 8 символа и минимум една главна буква, една
    малка буква, едно число и един специален символ.
  </p>

  <p class="input-field-error" *ngIf="control.errors?.invalidUsername">
    Потребителското име маже да съдържа латински букви, цифри или _.
  </p>
  <p class="input-field-error" *ngIf="control.errors?.['noMatch']">
    Паролите не съвпадат!
  </p>
</div>
