<section class="container top-offset">
  <div class="questions-navigation">
    <app-link-list
      [title]="'categories'"
      [linkType]="'category'"
      [links]="this.categorieService.categories$ | async"
    ></app-link-list>
    <app-link-list
      [title]="'tags'"
      [linkType]="'tag'"
      [links]="this.tagService.tags$ | async"
    ></app-link-list>
    <div>
      <h2 class="all-questions-heading">Go To All Questions</h2>
      <a class="link-all" routerLink="/questions">All Questions</a>
    </div>
  </div>
  <div class="questions-previews">
    <div class="short-listed-questions">
      <h3 class="short-listed-questions-heading">
        What was asked most recently?
      </h3>
      <app-question-preview-list
        [questionsData]="latestQuestions"
      ></app-question-preview-list>
    </div>

    <div class="short-listed-questions">
      <h3 class="short-listed-questions-heading">What was most viewed?</h3>
      <app-question-preview-list
        [questionsData]="viewedQuestions"
      ></app-question-preview-list>
    </div>

    <div class="short-listed-questions">
      <h3 class="short-listed-questions-heading">What was rated highest?</h3>
      <app-question-preview-list
        [questionsData]="votedQuestions"
      ></app-question-preview-list>
    </div>
  </div>
</section>
