.title {
  padding: 0 2rem;
  margin-top: 1rem;
  color: var(--lightblue);
  font-weight: 500;
}

table {
  width: 100%;
  color: #333;
  padding: 0 2rem;
}

i img {
  width: 1.4rem;
  height: 1.4rem;
}

th {
  text-align: left;
  font-weight: 400;
  font-size: 1.6rem;
  padding-bottom: 1rem;
}

td a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

.center {
  text-align: center;
}

tr {
  font-size: 1.5rem;
  font-weight: 300;
  padding-bottom: 1rem;
}

.icon {
  cursor: pointer;
  padding: 0 1rem;
}
