.images-wrapper {
  height: 10rem;
  overflow: hidden;
  margin-bottom: 2rem;
}

.image-wrapper {
  height: 100%;
  border-radius: 1rem;
  overflow: hidden;
  display: inline-block;
  margin-right: 1rem;
}

.image-wrapper img {
  cursor: pointer;
  height: 100%;
}

.image-preview-container {
  position: absolute;
  z-index: 999;
  max-width: 80%;
  color: rgb(211, 211, 211);
  background-color: rgba(248, 248, 248, 0.9);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2rem;
}

.image-container {
  margin: 3rem 0;
}

.image-container img {
  max-width: 100%;
}

.nav-icon-wrapper {
  display: inline-block;
  margin: 4rem;
  width: 2rem;
  height: 2rem;
}

.nav-icon {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.cancel-icon {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 2rem;
  height: 2rem;
  background-color: #333;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cancel-icon img {
  width: 1rem;
  height: 1rem;
}

.hidden {
  visibility: hidden;
}

.priview-image.show-image {
  display: block;
  animation: fadeIn 0.5s ease-in forwards;
}

.priview-image {
  /* transition: all 0.3s ease-in; */
  display: none;
}
