<div *ngIf="imageArr.length > 0" class="images-wrapper">
  <div
    *ngFor="let image of imageArr; index as i"
    class="image-wrapper"
    (click)="showImagePreview(i)"
  >
    <img [src]="image.imageURL" [alt]="image.imageURL" />
  </div>
  <div [@inOutAnimation] *ngIf="isPreviewMode" class="image-preview-container">
    <i class="cancel-icon" (click)="closePreview()">
      <img src="assets/images/cancel.svg" alt="cancel icon" />
    </i>
    <i class="nav-icon-wrapper" (click)="prevImage()">
      <img
        [ngClass]="{ hidden: !isFirst }"
        src="assets/icons/left-arrow.svg"
        alt="left arrow"
        class="nav-icon"
      />
    </i>
    <div class="image-container">
      <img
        *ngFor="let image of imageArr; index as i"
        [src]="image.imageURL"
        alt="current preview"
        [ngClass]="{
          'priview-image': true,
          'show-image': i === currentImageIndex
        }"
      />
    </div>
    <i class="nav-icon-wrapper" (click)="nextImage()">
      <img
        [ngClass]="{ hidden: !isLast }"
        src="assets/icons/right-arrow.svg"
        alt="left arrow"
        class="nav-icon"
    /></i>
  </div>
</div>
