.notification {
  position: absolute;
  top: 12rem;
  right: 10rem;
  border: 1px solid black;
  padding: 2rem 4rem;
  border-radius: 0.3rem;
  color: #fff;
  opacity: 0.7;
  font-size: 1.3rem;
}

.success {
  border-color: var(--lightblue);
  background-color: var(--lightblue);
}

.error {
  border-color: var(--error);
  background-color: var(--error);
}

.close {
  width: 0.75rem;
  height: 0.75rem;
  position: inherit;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
}
