<div class="container top-offset container-three-columns">
  <aside class="aside-left">
    <p
      *ngIf="hasSelection"
      [@inOutAnimation]
      (click)="clearSelection()"
      class="clear-selection"
    >
      <span>Clear Selection</span>
      <i>
        <img src="assets/images/cancel.svg" alt="cancel selection" />
      </i>
    </p>
    <app-navigation-list
      [title]="'categories'"
      [menuItems]="this.categoriesService.categories$ | async"
      (menuItemClicked)="categoryMenuItemSelected($event)"
    ></app-navigation-list>
    <app-navigation-list
      [title]="'tags'"
      [menuItems]="this.tagsService.tags$ | async"
      (menuItemClicked)="tagMenuItemSelected($event)"
    ></app-navigation-list>
  </aside>
  <section class="main-content">
    <app-loader *ngIf="!(questionsStore$ | async)" [size]="'7rem'"></app-loader>
    <ng-container *ngIf="questionsStore$ | async as questions">
      <app-questions-list-item
        *ngFor="let question of questions"
        [question]="question"
      >
      </app-questions-list-item>
      <p *ngIf="questions.length === 0" class="no-show">
        No questions to show!
      </p>
    </ng-container>
    <div class="pagination-navigation">
      <button
        class="btn btn-pagination"
        *ngIf="+queryParams.pageIndex! > 1"
        (click)="onPreviousPage()"
      >
        Previous
      </button>
      <p class="pagination-content">Page {{ queryParams.pageIndex }}</p>
      <button
        class="btn btn-pagination"
        *ngIf="
          questionCount - +queryParams.pageIndex! * +queryParams.pageSize! > 0
        "
        (click)="onNextPage()"
      >
        Next
      </button>
    </div>
  </section>
  <aside class="aside-right"></aside>
</div>
