<div class="container top-offset container-three-columns">
  <aside class="aside-left">navigation</aside>
  <section class="main-content">
    <ng-container *ngIf="questions$ | async as questions">
      <app-questions-list-item
        *ngFor="let question of questions"
        [question]="question"
      >
      </app-questions-list-item>
    </ng-container>
    <p *ngIf="!(questions$ | async)" class="no-show">No questions to show!</p>
  </section>
  <aside class="aside-right">Something here</aside>
</div>
